# =========================
# Sensitive Files
# =========================

config.json
admincred.xml
NewHire.csv
box_users.csv
disableUsers.csv
# =========================
# Logs
# =========================

*.log

# =========================
# PowerShell artifacts
# =========================

*.ps1xml

# =========================
# VS Code
# =========================

.vscode/

# =========================
# OS junk
# =========================

.DS_Store
Thumbs.db